* {
  margin: 0;
  padding: 0;
}
body, html {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bars-container {
  background-color: grey;
  display:flex; 
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  height: auto;
  width: 70vw;
}

.bars {
  background-color: aqua;
  margin: 0 2px;
  display: inline-block;
  width: 5px;
}